Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.0.5
marshmallow==3.20.1
Flask-Marshmallow==1.1.0
marshmallow-sqlalchemy==0.29.0
Flask-Cors==4.0.0
python-dotenv==1.0.0
gunicorn==21.2.0
cryptography==41.0.7
psycopg2-binary==2.9.9


# Dev Dependencies
black==23.11.0
flake8==6.1.0
isort==5.12.0
mypy==1.7.1
pytest==7.4.3
